<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="//cdnjs.cloudflare.com" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.3/pico.min.css" as="style" />

    <!-- Primary Meta Tags -->
    <title>Latest Gri Links — Gricreative URL Shortener Service</title>
    <meta name="title" content="Latest Gri Links — Gricreative URL Shortener Service" />
    <meta
      name="description"
      content="Gri Links is a simple URL shortener that allows you to shorten your long URLs. It is a single page website that store short links and redirect them."
    />
    <meta name="keywords" content="Gri Links, grilinks, Gricreative, URL Shortener" />
    <meta name="language" content="English" />
    <meta name="author" content="Aydoğan Gökberk" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://grilink.herokuapp.com/" />
    <meta property="og:title" content="Latest Gri Links — Gricreative URL Shortener Service" />
    <meta
      property="og:description"
      content="Gri Links is a simple URL shortener that allows you to shorten your long URLs. It is a single page website that store short links and redirect them."
    />
    <meta property="og:image" content="/grilinks.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://grilink.herokuapp.com/" />
    <meta property="twitter:title" content="Latest Gri Links — Gricreative URL Shortener Service" />
    <meta
      property="twitter:description"
      content="Gri Links is a simple URL shortener that allows you to shorten your long URLs. It is a single page website that store short links and redirect them."
    />
    <meta property="twitter:image" content="/grilinks.png" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#484848" />
    <meta name="msapplication-TileColor" content="#1095c1" />
    <meta name="theme-color" content="#1095c1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.3/pico.min.css" />
    <style>
      header .container {
        display: flex;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <div class="container">
        <h1 class="title">Latest Links</h1>

        <table>
          <thead>
            <tr>
              <th>Link</th>
              <th>Short ID</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% shortUrls.forEach(url => { %>
            <tr>
              <td><a href="<%= url.full %>"><%= url.full %></a></td>
              <td class="">
                <a href="<%= url.short %>"><%= url.short %></a>
                <span
                  style="text-align: center"
                  data-url="<%= url.short %>"
                  data-tooltip="Copy to clipboard"
                  onclick="copy(this)"
                  >📋</span
                >
              </td>
              <td><%= url.clicks _%></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
    <%- include("partials/scripts") %>
  </body>
</html>
